.DS_Store
db.sqlite3
*.db
*.pyc
.project
.pydevproject

Nodes/Container/migrations
Nodes/Container/Service/migrations
RuntimeDataRegistrar/migrations
Applications/migrations
ui/migrations

ui/assets/bower_components

