git+https://git.earthdata.nasa.gov/scm/naiads/clara-python.git@dev
Django==1.7.7
djangorestframework==3.1.1
djangorestframework-yaml==1.0.2
django-rest-swagger==0.2.9
mercurial==3.0.1
nose==1.3.1
numpy==1.8.1
PyYAML==3.11
coverage==3.7.1
jsonfield==1.0.3
