git+ssh://git@git.earthdata.nasa.gov:7999/naiads/xmsg-python.git@master
git+ssh://git@git.earthdata.nasa.gov:7999/naiads/clara-python.git@clara-base-dev
Django==1.7.7
djangorestframework==3.1.1
djangorestframework-yaml==1.0.2
django-rest-swagger==0.2.9
mercurial==3.0.1
nose==1.3.1
numpy==1.8.1
PyYAML==3.11
coverage==3.7.1
jsonfield==1.0.3
simplejson==3.8.1
django-extensions==1.6.1
requests==2.9.1
influxdb==2.12.0
mock==1.3.0
